body {
  margin: 0;
  padding: 0;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.top-area {
  width: 500px;
  margin: auto;
}

.chord {
  font-size: 32px;
}

.chord-numeral {
  display: inline-block;
}

.inversion {
  position: absolute;
  font-size: 50%;
  line-height: 0.8em;

  sup, sub {
    font-size: inherit;
    line-height: inherit;
    vertical-align: baseline;
  }
}

.voice-movement {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  // font-family: Verdana, Geneva, Tahoma, sans-serif;
  // font-weight: 100;
  font-size: 21px;
  display: inline-block;
  width: 10px;
}

$motion-option-size: 75px;
.motion-option {
  display: inline-flex;
  flex-direction: column;
  width: $motion-option-size;
  height: $motion-option-size;
  text-align: center;
}

.option-container {
  position: absolute;

  .active-ring {
    width: $motion-option-size;
    height: $motion-option-size;
    border-radius: 100%;
    border: 1px solid gray;
    position: absolute;
    top: -$motion-option-size * 0.76;
    left: -$motion-option-size / 2;
  }

  &.active .motion-option {
    font-weight: bold;
  }

  .motion-option {
    transform: translate(-50%, -50%);
  }
}

.circle-of-fourths {
  $radius: 200px;
  width: 2*$radius;
  height: 2*$radius;
  padding: 50px;
}