.piano {
  background: black;
  padding: 2px;
  height: 160px;
  overflow: hidden;
  position: relative;

  .piano-key {
    display: inline-block;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;

    &.active {
      border: 2px solid blue;
      border-top: none;
      background: lightblue;
    }
  }

  .piano-key-white {
    width: 40px;
    height: 150px;
    background: white;
    margin: 0 2px;
  }

  .piano-key-black {
    width: 26px;
    height: 97px;
    background: black;
    position: absolute;
    transform: translate(-50%, 0);
  }
}